<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="liu,yun,guo" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">vther</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        liu,yun,guo
        <br />
        <br />
        vther@qq.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/vther/">github.com/vther</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/vther"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
