---
layout: default
---
<div id="post">{{ content }}</div>

<div id="related">
    <h2>Related Posts</h2>
    <ul class="posts">
        {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> ----
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li> 
        {% endfor %}
    </ul>
</div>

<div  id="back-to-top">
    <a href="#site"><img src="/images/return2top.gif"  alt="top" /></a>
</div>

<div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq"></a>
    <a href="#" class="bds_renren" data-cmd="renren"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin"></a>
</div>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript"
    src="http://v2.uyan.cc/code/uyan.js?uid=2049391">
</script>
<!-- UY END -->

<!-- BAIDU SHARE BEGIN -->
<script>
    window._bd_share_config = {
        "common" : {
            "bdSnsKey" : {},
            "bdText" : "",
            "bdMini" : "2",
            "bdPic" : "",
            "bdStyle" : "0",
            "bdSize" : "16"
        },
        "share" : {},
        "image" : {
            "viewList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ],
            "viewText" : "分享到：",
            "viewSize" : "16"
        },
        "selectShare" : {
            "bdContainerClass" : null,
            "bdSelectMiniList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ]
        }
    };
    with (document)
        0[(getElementsByTagName('head')[0] || body)
                .appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
                + ~(-new Date() / 36e5)];
</script>
<!-- BAIDU SHARE END -->